<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />

    <!-- Favicon -->
    <link rel="icon" href="{{ '/images/favicon.ico' | relative_url }}" type="image/x-icon" />
  </head>
  <body class="homepage is-preload">
    <div id="page-wrapper">

      <!-- Header -->
      <header id="header">
        <h1 id="logo">
          <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </h1>
        <nav id="nav">
          <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/people.html' | relative_url }}">People</a></li>
            <li><a href="{{ '/research.html' | relative_url }}">Research</a></li>
            <li><a href="{{ '/publications.html' | relative_url }}">Publications</a></li>
            <li><a href="{{ '/gallery.html' | relative_url }}">Gallery</a></li>
            <li><a href="{{ '/events.html' | relative_url }}">Events</a></li>
            <li><a href="{{ '/lectures.html' | relative_url }}">Lectures</a></li>
            <li><a href="{{ '/media.html' | relative_url }}">Media</a></li>
            <li><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
          </ul>
        </nav>
      </header>

      <!-- Main Content -->
      {{ content }}

      <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <!-- Example social icons -->
          <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
          <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; {{ site.title }}. All rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </footer>

    </div>

    <!-- Scripts -->
    <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.dropotron.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.scrolly.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/jquery.scrollex.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/browser.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/breakpoints.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/util.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
