<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>{{ page.title }}</title>
  <meta name="description" content="Climate Dynamics Lab at IIT Delhi focuses on Indian monsoon, climate change, and AI applications in atmospheric sciences." />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
<body class="homepage is-preload">
  <div id="page-wrapper">

    <!-- Site header -->
    <header id="header">
      <!-- Site inner header -->
      <!-- Your header code goes here -->
    </header>

    <!-- Site nav -->
    <nav id="nav">
      <!-- Your nav goes here -->
    </nav>

    <!-- Page content -->
    {{ content }}

    <!-- Footer -->
    <footer id="footer">
      <!-- Your footer code here -->
    </footer>

  </div>

  <!-- Scripts -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.dropotron.min.js"></script>
  <script src="/assets/js/jquery.scrolly.min.js"></script>
  <script src="/assets/js/jquery.scrollex.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>

</body>
</html>
